Your goal: wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

In [1]:
import pandas as pd
import requests
import tweepy
import json
from IPython.display import clear_output

In [2]:
df_archive = pd.read_csv('twitter-archive-enhanced.csv')
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
image_prediction_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(image_prediction_url)
r.content
with open('image_prediction.tsv', 'wb') as f:
    f.write(r.content)
df_image = pd.read_csv('image_prediction.tsv', sep='\t')
df_image.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [22]:
consumer_key = 'ymz17WEwELB96SDfFIfLTGct0'
consumer_secret = 'dANGfRbvoeHl1bx47bmseBst9yva4AOqCcIiY05WfidVwOit0P'
access_token = '884060066-pkYwqRhukdMDfrV36DgcK5WKDwA47AYLKovB5dlH'
access_secret = 'HZHZTduLKRWsxPWJCf8kMjti9HOpZfy1DUd5RfwpbxFbb'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)
api.wait_on_rate_limit = True
api.wait_on_rate_limit_notify = True

# get tweet id
tweet_ids = df.tweet_id.tolist()
counter = len(tweet_ids)
missing_tweet_id = []
# create tweet_json.txt if not exist, reset data if exist
with open('tweet_json.txt', 'w+') as f:
    f.write('')
for tweet_id in tweet_ids:
    # clear previous output
    clear_output(wait=True)
    try:
        tweet = api.get_status(id=tweet_id, tweet_mode='extended')
        with open('tweet_json.txt', 'a+') as f:
            json.dump(tweet._json, f)
            f.write('\n')
    # print a msg if tweet_id not found
    except tweepy.TweepError:
        print(f'{tweet_id} not found')
        missing_tweet_id.append(tweet_id)
    counter -= 1
    print(f'{counter} tweets remaining')
print(f'{len(tweet_ids)}tweets downloaded sucessfully, {len(missing_tweet_id)} tweets not found')

0 tweets remaining
2356tweets downloaded sucessfully, 26 tweets not found

Read json data from tweet_json.txt

In [17]:
list_tweet_data = []
with open('tweet_json.txt', 'r') as f:
    for line in f:
        # convert json str to dict object
        json_data = json.loads(line)
        # add each dict to tweet_data list
        list_tweet_data.append({'id': json_data['id'], 'favorite_count': json_data['favorite_count'], 'retweet_count': json_data['retweet_count']})

[{'id': 666020888022790149, 'favorite_count': 2342, 'retweet_count': 443}, {'id': 666020888022790149, 'favorite_count': 2342, 'retweet_count': 443}, {'id': 892420643555336193, 'favorite_count': 34954, 'retweet_count': 7340}, {'id': 892420643555336193, 'favorite_count': 34954, 'retweet_count': 7340}, {'id': 892177421306343426, 'favorite_count': 30265, 'retweet_count': 5475}, {'id': 891815181378084864, 'favorite_count': 22774, 'retweet_count': 3621}, {'id': 891689557279858688, 'favorite_count': 38200, 'retweet_count': 7520}, {'id': 891327558926688256, 'favorite_count': 36481, 'retweet_count': 8106}, {'id': 891087950875897856, 'favorite_count': 18399, 'retweet_count': 2711}, {'id': 890971913173991426, 'favorite_count': 10700, 'retweet_count': 1757}, {'id': 890729181411237888, 'favorite_count': 58853, 'retweet_count': 16459}, {'id': 890609185150312448, 'favorite_count': 25334, 'retweet_count': 3766}, {'id': 890240255349198849, 'favorite_count': 28901, 'retweet_count': 6373}, {'id': 890006608113172480, 'favorite_count': 27887, 'retweet_count': 6402}, {'id': 889880896479866881, 'favorite_count': 25354, 'retweet_count': 4340}, {'id': 889665388333682689, 'favorite_count': 43520, 'retweet_count': 8721}, {'id': 889638837579907072, 'favorite_count': 24461, 'retweet_count': 3896}, {'id': 889531135344209921, 'favorite_count': 13779, 'retweet_count': 1965}, {'id': 889278841981685760, 'favorite_count': 22819, 'retweet_count': 4634}, {'id': 888917238123831296, 'favorite_count': 26429, 'retweet_count': 3903}, {'id': 888804989199671297, 'favorite_count': 23208, 'retweet_count': 3694}, {'id': 888554962724278272, 'favorite_count': 17895, 'retweet_count': 3005}, {'id': 892420643555336193, 'favorite_count': 34955, 'retweet_count': 7340}, {'id': 892177421306343426, 'favorite_count': 30265, 'retweet_count': 5475}, {'id': 891815181378084864, 'favorite_count': 22775, 'retweet_count': 3621}, {'id': 891689557279858688, 'favorite_count': 38201, 'retweet_count': 7521}, {'id': 891327558926688256, 'favorite_count': 36482, 'retweet_count': 8107}, {'id': 891087950875897856, 'favorite_count': 18398, 'retweet_count': 2712}, {'id': 890971913173991426, 'favorite_count': 10700, 'retweet_count': 1757}, {'id': 890729181411237888, 'favorite_count': 58854, 'retweet_count': 16460}, {'id': 890609185150312448, 'favorite_count': 25335, 'retweet_count': 3767}, {'id': 890240255349198849, 'favorite_count': 28898, 'retweet_count': 6374}, {'id': 890006608113172480, 'favorite_count': 27888, 'retweet_count': 6402}, {'id': 889880896479866881, 'favorite_count': 25355, 'retweet_count': 4340}, {'id': 889665388333682689, 'favorite_count': 43521, 'retweet_count': 8721}, {'id': 889638837579907072, 'favorite_count': 24461, 'retweet_count': 3896}, {'id': 889531135344209921, 'favorite_count': 13778, 'retweet_count': 1965}, {'id': 889278841981685760, 'favorite_count': 22820, 'retweet_count': 4634}, {'id': 888917238123831296, 'favorite_count': 26429, 'retweet_count': 3903}, {'id': 888804989199671297, 'favorite_count': 23207, 'retweet_count': 3695}, {'id': 888554962724278272, 'favorite_count': 17896, 'retweet_count': 3005}, {'id': 892420643555336193, 'favorite_count': 34955, 'retweet_count': 7340}, {'id': 892177421306343426, 'favorite_count': 30265, 'retweet_count': 5475}, {'id': 891815181378084864, 'favorite_count': 22775, 'retweet_count': 3621}, {'id': 891689557279858688, 'favorite_count': 38201, 'retweet_count': 7521}, {'id': 891327558926688256, 'favorite_count': 36482, 'retweet_count': 8107}, {'id': 891087950875897856, 'favorite_count': 18397, 'retweet_count': 2712}, {'id': 890971913173991426, 'favorite_count': 10700, 'retweet_count': 1757}, {'id': 890729181411237888, 'favorite_count': 58854, 'retweet_count': 16460}, {'id': 890609185150312448, 'favorite_count': 25335, 'retweet_count': 3767}, {'id': 890240255349198849, 'favorite_count': 28898, 'retweet_count': 6374}, {'id': 890006608113172480, 'favorite_count': 27888, 'retweet_count': 6402}, {'id': 889880896479866881, 'favorite_count': 25355, 'retweet_count': 4340}, {'id': 889665388333682689, 'favorite_count': 43521, 'retweet_count': 8721}, {'id': 889638837579907072, 'favorite_count': 24461, 'retweet_count': 3896}, {'id': 889531135344209921, 'favorite_count': 13778, 'retweet_count': 1965}, {'id': 889278841981685760, 'favorite_count': 22820, 'retweet_count': 4634}, {'id': 888917238123831296, 'favorite_count': 26429, 'retweet_count': 3903}, {'id': 888804989199671297, 'favorite_count': 23207, 'retweet_count': 3695}, {'id': 888554962724278272, 'favorite_count': 17896, 'retweet_count': 3005}, {'id': 888078434458587136, 'favorite_count': 19781, 'retweet_count': 3032}, {'id': 887705289381826560, 'favorite_count': 27515, 'retweet_count': 4711}, {'id': 887517139158093824, 'favorite_count': 42069, 'retweet_count': 10258}, {'id': 887473957103951883, 'favorite_count': 62246, 'retweet_count': 15671}, {'id': 887343217045368832, 'favorite_count': 30522, 'retweet_count': 9190}, {'id': 887101392804085760, 'favorite_count': 27839, 'retweet_count': 5202}, {'id': 886983233522544640, 'favorite_count': 31531, 'retweet_count': 6657}, {'id': 886736880519319552, 'favorite_count': 10841, 'retweet_count': 2764}, {'id': 886680336477933568, 'favorite_count': 20423, 'retweet_count': 3904}, {'id': 886366144734445568, 'favorite_count': 19178, 'retweet_count': 2759}, {'id': 886267009285017600, 'favorite_count': 107, 'retweet_count': 3}, {'id': 886258384151887873, 'favorite_count': 25394, 'retweet_count': 5513}, {'id': 886054160059072513, 'favorite_count': 0, 'retweet_count': 96}, {'id': 885984800019947520, 'favorite_count': 29557, 'retweet_count': 5853}, {'id': 885528943205470208, 'favorite_count': 32649, 'retweet_count': 5574}, {'id': 885518971528720385, 'favorite_count': 18590, 'retweet_count': 3261}, {'id': 885311592912609280, 'favorite_count': 0, 'retweet_count': 16119}, {'id': 885167619883638784, 'favorite_count': 19859, 'retweet_count': 3816}, {'id': 884925521741709313, 'favorite_count': 69698, 'retweet_count': 15748}, {'id': 884876753390489601, 'favorite_count': 25240, 'retweet_count': 4876}, {'id': 884562892145688576, 'favorite_count': 22057, 'retweet_count': 4097}, {'id': 884441805382717440, 'favorite_count': 24627, 'retweet_count': 4970}, {'id': 884247878851493888, 'favorite_count': 65688, 'retweet_count': 17711}, {'id': 884162670584377345, 'favorite_count': 18522, 'retweet_count': 2612}, {'id': 883838122936631299, 'favorite_count': 19825, 'retweet_count': 2983}, {'id': 883482846933004288, 'favorite_count': 41593, 'retweet_count': 8620}, {'id': 883360690899218434, 'favorite_count': 20589, 'retweet_count': 3211}, {'id': 883117836046086144, 'favorite_count': 33663, 'retweet_count': 5782}, {'id': 882992080364220416, 'favorite_count': 21679, 'retweet_count': 3380}, {'id': 882762694511734784, 'favorite_count': 25637, 'retweet_count': 4263}, {'id': 882627270321602560, 'favorite_count': 25458, 'retweet_count': 5287}, {'id': 882268110199369728, 'favorite_count': 40605, 'retweet_count': 10093}, {'id': 882045870035918850, 'favorite_count': 26594, 'retweet_count': 4244}, {'id': 881906580714921986, 'favorite_count': 22125, 'retweet_count': 2968}, {'id': 881666595344535552, 'favorite_count': 46032, 'retweet_count': 9321}, {'id': 881633300179243008, 'favorite_count': 114, 'retweet_count': 8}, {'id': 881536004380872706, 'favorite_count': 44912, 'retweet_count': 13979}, {'id': 881268444196462592, 'favorite_count': 21153, 'retweet_count': 4643}, {'id': 880935762899988482, 'favorite_count': 15543, 'retweet_count': 2441}, {'id': 880872448815771648, 'favorite_count': 19356, 'retweet_count': 3335}, {'id': 880465832366813184, 'favorite_count': 25821, 'retweet_count': 5426}, {'id': 880221127280381952, 'favorite_count': 24469, 'retweet_count': 3626}, {'id': 880095782870896641, 'favorite_count': 25104, 'retweet_count': 3795}, {'id': 879862464715927552, 'favorite_count': 20354, 'retweet_count': 3042}, {'id': 879674319642796034, 'favorite_count': 287, 'retweet_count': 10}, {'id': 879492040517615616, 'favorite_count': 21365, 'retweet_count': 2766}, {'id': 879415818425184262, 'favorite_count': 95994, 'retweet_count': 38969}, {'id': 879376492567855104, 'favorite_count': 15326, 'retweet_count': 2740}, {'id': 879130579576475649, 'favorite_count': 0, 'retweet_count': 5969}, {'id': 879050749262655488, 'favorite_count': 20499, 'retweet_count': 4125}, {'id': 879008229531029506, 'favorite_count': 17290, 'retweet_count': 2342}, {'id': 878776093423087618, 'favorite_count': 17638, 'retweet_count': 3595}, {'id': 878604707211726852, 'favorite_count': 27332, 'retweet_count': 6182}, {'id': 878404777348136964, 'favorite_count': 0, 'retweet_count': 1114}, {'id': 878316110768087041, 'favorite_count': 0, 'retweet_count': 5786}, {'id': 878281511006478336, 'favorite_count': 7017, 'retweet_count': 1114}, {'id': 878057613040115712, 'favorite_count': 38292, 'retweet_count': 5969}, {'id': 877736472329191424, 'favorite_count': 71794, 'retweet_count': 16554}, {'id': 877611172832227328, 'favorite_count': 0, 'retweet_count': 71}, {'id': 877556246731214848, 'favorite_count': 20636, 'retweet_count': 3319}, {'id': 877316821321428993, 'favorite_count': 24957, 'retweet_count': 4561}, {'id': 877201837425926144, 'favorite_count': 24644, 'retweet_count': 4861}, {'id': 876838120628539392, 'favorite_count': 18843, 'retweet_count': 2922}, {'id': 876537666061221889, 'favorite_count': 21660, 'retweet_count': 4126}, {'id': 876484053909872640, 'favorite_count': 17109, 'retweet_count': 2077}, {'id': 876120275196170240, 'favorite_count': 25516, 'retweet_count': 4081}, {'id': 875747767867523072, 'favorite_count': 22895, 'retweet_count': 3748}, {'id': 875144289856114688, 'favorite_count': 19994, 'retweet_count': 4299}, {'id': 875097192612077568, 'favorite_count': 25033, 'retweet_count': 5349}, {'id': 875021211251597312, 'favorite_count': 23292, 'retweet_count': 4146}, {'id': 874680097055178752, 'favorite_count': 25371, 'retweet_count': 4079}, {'id': 874434818259525634, 'favorite_count': 0, 'retweet_count': 12751}, {'id': 874296783580663808, 'favorite_count': 23788, 'retweet_count': 3635}, {'id': 874057562936811520, 'favorite_count': 20759, 'retweet_count': 3509}, {'id': 874012996292530176, 'favorite_count': 31161, 'retweet_count': 8978}, {'id': 873580283840344065, 'favorite_count': 22139, 'retweet_count': 3464}, {'id': 873337748698140672, 'favorite_count': 0, 'retweet_count': 1392}, {'id': 873213775632977920, 'favorite_count': 6542, 'retweet_count': 1392}, {'id': 872967104147763200, 'favorite_count': 24888, 'retweet_count': 4761}, {'id': 872820683541237760, 'favorite_count': 13475, 'retweet_count': 3281}, {'id': 872620804844003328, 'favorite_count': 18961, 'retweet_count': 3212}, {'id': 872486979161796608, 'favorite_count': 37268, 'retweet_count': 8034}, {'id': 872122724285648897, 'favorite_count': 31305, 'retweet_count': 7160}, {'id': 871879754684805121, 'favorite_count': 34316, 'retweet_count': 9653}, {'id': 871762521631449091, 'favorite_count': 18487, 'retweet_count': 3079}, {'id': 871515927908634625, 'favorite_count': 18488, 'retweet_count': 3066}, {'id': 871166179821445120, 'favorite_count': 0, 'retweet_count': 5064}, {'id': 871102520638267392, 'favorite_count': 19163, 'retweet_count': 4880}, {'id': 871032628920680449, 'favorite_count': 20845, 'retweet_count': 3369}, {'id': 870804317367881728, 'favorite_count': 30799, 'retweet_count': 5476}, {'id': 870726314365509632, 'favorite_count': 110, 'retweet_count': 3}, {'id': 870656317836468226, 'favorite_count': 11255, 'retweet_count': 2305}, {'id': 870374049280663552, 'favorite_count': 76373, 'retweet_count': 23666}, {'id': 870308999962521604, 'favorite_count': 20109, 'retweet_count': 3680}, {'id': 870063196459192321, 'favorite_count': 33493, 'retweet_count': 7374}, {'id': 869772420881756160, 'favorite_count': 39147, 'retweet_count': 9036}, {'id': 869702957897576449, 'favorite_count': 25881, 'retweet_count': 5589}, {'id': 869596645499047938, 'favorite_count': 14675, 'retweet_count': 2762}, {'id': 869227993411051520, 'favorite_count': 18748, 'retweet_count': 3345}, {'id': 868880397819494401, 'favorite_count': 59954, 'retweet_count': 12805}, {'id': 868639477480148993, 'favorite_count': 0, 'retweet_count': 1830}, {'id': 868622495443632128, 'favorite_count': 24440, 'retweet_count': 4703}, {'id': 868552278524837888, 'favorite_count': 9273, 'retweet_count': 1830}, {'id': 867900495410671616, 'favorite_count': 22298, 'retweet_count': 3732}, {'id': 867774946302451713, 'favorite_count': 31248, 'retweet_count': 6536}, {'id': 867421006826221569, 'favorite_count': 14786, 'retweet_count': 2225}, {'id': 867072653475098625, 'favorite_count': 0, 'retweet_count': 106}, {'id': 867051520902168576, 'favorite_count': 29646, 'retweet_count': 7054}, {'id': 866720684873056260, 'favorite_count': 18423, 'retweet_count': 4306}, {'id': 866686824827068416, 'favorite_count': 17743, 'retweet_count': 3092}, {'id': 866450705531457537, 'favorite_count': 112568, 'retweet_count': 31572}, {'id': 866334964761202691, 'favorite_count': 48214, 'retweet_count': 12751}, {'id': 866094527597207552, 'favorite_count': 0, 'retweet_count': 7497}, {'id': 865718153858494464, 'favorite_count': 23717, 'retweet_count': 5050}, {'id': 865359393868664832, 'favorite_count': 24402, 'retweet_count': 4492}, {'id': 865006731092295680, 'favorite_count': 25886, 'retweet_count': 6950}, {'id': 864873206498414592, 'favorite_count': 29771, 'retweet_count': 7806}, {'id': 864279568663928832, 'favorite_count': 13492, 'retweet_count': 2706}, {'id': 864197398364647424, 'favorite_count': 27643, 'retweet_count': 7927}, {'id': 863907417377173506, 'favorite_count': 19076, 'retweet_count': 3733}, {'id': 863553081350529029, 'favorite_count': 14103, 'retweet_count': 3782}, {'id': 863471782782697472, 'favorite_count': 0, 'retweet_count': 2173}, {'id': 863432100342583297, 'favorite_count': 22010, 'retweet_count': 4734}, {'id': 863427515083354112, 'favorite_count': 2029, 'retweet_count': 84}, {'id': 863079547188785154, 'favorite_count': 8127, 'retweet_count': 1001}, {'id': 863062471531167744, 'favorite_count': 7786, 'retweet_count': 2173}, {'id': 862831371563274240, 'favorite_count': 17766, 'retweet_count': 4632}, {'id': 862722525377298433, 'favorite_count': 15844, 'retweet_count': 3212}, {'id': 862457590147678208, 'favorite_count': 18895, 'retweet_count': 4443}, {'id': 862096992088072192, 'favorite_count': 68583, 'retweet_count': 20892}, {'id': 861383897657036800, 'favorite_count': 33454, 'retweet_count': 9692}, {'id': 861288531465048066, 'favorite_count': 15919, 'retweet_count': 3743}, {'id': 861005113778896900, 'favorite_count': 15511, 'retweet_count': 3463}, {'id': 860981674716409858, 'favorite_count': 0, 'retweet_count': 1935}, {'id': 860924035999428608, 'favorite_count': 0, 'retweet_count': 708}, {'id': 860563773140209665, 'favorite_count': 6957, 'retweet_count': 1935}, {'id': 860524505164394496, 'favorite_count': 21980, 'retweet_count': 4800}, {'id': 860276583193509888, 'favorite_count': 17124, 'retweet_count': 3199}, {'id': 860184849394610176, 'favorite_count': 15486, 'retweet_count': 5321}, {'id': 860177593139703809, 'favorite_count': 0, 'retweet_count': 28039}, {'id': 859924526012018688, 'favorite_count': 18239, 'retweet_count': 3722}, {'id': 859851578198683649, 'favorite_count': 14405, 'retweet_count': 3205}, {'id': 859607811541651456, 'favorite_count': 17377, 'retweet_count': 1410}, {'id': 859196978902773760, 'favorite_count': 83396, 'retweet_count': 27419}, {'id': 859074603037188101, 'favorite_count': 31476, 'retweet_count': 12456}, {'id': 858860390427611136, 'favorite_count': 0, 'retweet_count': 7397}, {'id': 858843525470990336, 'favorite_count': 14579, 'retweet_count': 3169}, {'id': 858471635011153920, 'favorite_count': 20160, 'retweet_count': 4445}, {'id': 858107933456039936, 'favorite_count': 14708, 'retweet_count': 2643}, {'id': 857989990357356544, 'favorite_count': 15015, 'retweet_count': 2364}, {'id': 857746408056729600, 'favorite_count': 31950, 'retweet_count': 9738}, {'id': 857393404942143489, 'favorite_count': 5509, 'retweet_count': 1497}, {'id': 857263160327368704, 'favorite_count': 18824, 'retweet_count': 4141}, {'id': 857214891891077121, 'favorite_count': 210, 'retweet_count': 16}, {'id': 857062103051644929, 'favorite_count': 0, 'retweet_count': 154}, {'id': 857029823797047296, 'favorite_count': 17638, 'retweet_count': 3648}, {'id': 856543823941562368, 'favorite_count': 15346, 'retweet_count': 2652}, {'id': 856526610513747968, 'favorite_count': 11164, 'retweet_count': 1731}, {'id': 856330835276025856, 'favorite_count': 0, 'retweet_count': 615}, {'id': 856288084350160898, 'favorite_count': 485, 'retweet_count': 15}, {'id': 856282028240666624, 'favorite_count': 26034, 'retweet_count': 5797}, {'id': 855862651834028034, 'favorite_count': 312, 'retweet_count': 22}, {'id': 855860136149123072, 'favorite_count': 4600, 'retweet_count': 894}, {'id': 855857698524602368, 'favorite_count': 11187, 'retweet_count': 1945}, {'id': 855851453814013952, 'favorite_count': 43205, 'retweet_count': 16732}, {'id': 855818117272018944, 'favorite_count': 25095, 'retweet_count': 5015}, {'id': 855459453768019968, 'favorite_count': 28041, 'retweet_count': 7599}, {'id': 855245323840757760, 'favorite_count': 0, 'retweet_count': 5506}, {'id': 855138241867124737, 'favorite_count': 0, 'retweet_count': 39}, {'id': 854732716440526848, 'favorite_count': 21413, 'retweet_count': 5616}, {'id': 854482394044301312, 'favorite_count': 27522, 'retweet_count': 6308}, {'id': 854365224396361728, 'favorite_count': 17819, 'retweet_count': 4347}, {'id': 854120357044912130, 'favorite_count': 30186, 'retweet_count': 6928}, {'id': 854010172552949760, 'favorite_count': 15352, 'retweet_count': 2921}, {'id': 853760880890318849, 'favorite_count': 26999, 'retweet_count': 5356}, {'id': 853639147608842240, 'favorite_count': 32719, 'retweet_count': 9295}, {'id': 853299958564483072, 'favorite_count': 14652, 'retweet_count': 3303}, {'id': 852936405516943360, 'favorite_count': 0, 'retweet_count': 1853}, {'id': 852912242202992640, 'favorite_count': 8525, 'retweet_count': 1678}, {'id': 852672615818899456, 'favorite_count': 14149, 'retweet_count': 2012}, {'id': 852553447878664193, 'favorite_count': 15423, 'retweet_count': 3249}, {'id': 852311364735569921, 'favorite_count': 31433, 'retweet_count': 9272}, {'id': 852226086759018497, 'favorite_count': 18931, 'retweet_count': 6371}, {'id': 852189679701164033, 'favorite_count': 10910, 'retweet_count': 1481}, {'id': 851861385021730816, 'favorite_count': 0, 'retweet_count': 19}, {'id': 851591660324737024, 'favorite_count': 15469, 'retweet_count': 3253}, {'id': 851464819735769094, 'favorite_count': 23056, 'retweet_count': 6604}, {'id': 851224888060895234, 'favorite_count': 19684, 'retweet_count': 5393}, {'id': 850753642995093505, 'favorite_count': 29222, 'retweet_count': 8483}, {'id': 850380195714523136, 'favorite_count': 12490, 'retweet_count': 2435}, {'id': 850333567704068097, 'favorite_count': 3291, 'retweet_count': 308}, {'id': 850145622816686080, 'favorite_count': 15532, 'retweet_count': 3544}, {'id': 850019790995546112, 'favorite_count': 19449, 'retweet_count': 4567}, {'id': 849776966551130114, 'favorite_count': 28967, 'retweet_count': 7123}, {'id': 849668094696017920, 'favorite_count': 0, 'retweet_count': 4659}, {'id': 849412302885593088, 'favorite_count': 15166, 'retweet_count': 2957}, {'id': 849336543269576704, 'favorite_count': 10893, 'retweet_count': 1770}, {'id': 849051919805034497, 'favorite_count': 40412, 'retweet_count': 7956}, {'id': 848690551926992896, 'favorite_count': 24077, 'retweet_count': 4079}, {'id': 848324959059550208, 'favorite_count': 23627, 'retweet_count': 4343}, {'id': 848213670039564288, 'favorite_count': 7814, 'retweet_count': 675}, {'id': 848212111729840128, 'favorite_count': 15612, 'retweet_count': 2840}, {'id': 847978865427394560, 'favorite_count': 0, 'retweet_count': 3066}, {'id': 847971574464610304, 'favorite_count': 0, 'retweet_count': 416}, {'id': 847962785489326080, 'favorite_count': 22503, 'retweet_count': 4792}, {'id'

In [20]:
df_tweet = pd.DataFrame(list_tweet_data, columns = ['id', 'favorite_count', 'retweet_count'])
df_tweet.head(10)

                   id  favorite_count  retweet_count
0  666020888022790149            2342            443
1  666020888022790149            2342            443
2  892420643555336193           34954           7340
3  892420643555336193           34954           7340
4  892177421306343426           30265           5475
5  891815181378084864           22774           3621
6  891689557279858688           38200           7520
7  891327558926688256           36481           8106
8  891087950875897856           18399           2711
9  890971913173991426           10700           1757

# Assess

In [29]:
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [26]:
sum(df_archive.tweet_id.duplicated())

0

In [19]:
df_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [21]:
df_archive.rating_numerator.sort_values()

315        0
1016       0
2335       1
2261       1
2338       1
        ...
2074     420
188      420
189      666
313      960
979     1776
Name: rating_numerator, Length: 2356, dtype: int64

In [28]:
sum(df_archive['rating_numerator'] > 20)

24

In [32]:
df_archive['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
0         2
15        2
75        2
420       2
182       1
204       1
143       1
121       1
99        1
20        1
45        1
27        1
17        1
24        1
26        1
44        1
50        1
60        1
80        1
84        1
88        1
1776      1
960       1
666       1
144       1
165       1
Name: rating_numerator, dtype: int64

In [34]:
df_archive[df_archive['rating_numerator'].isnull()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [40]:
df_archive[df_archive['tweet_id'] == 677716515794329600]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None

In [6]:
df_archive['name'].value_counts()

None         745
a             55
Charlie       12
Cooper        11
Oliver        11
            ...
Lambeau        1
Sully          1
Enchilada      1
Ike            1
Willem         1
Name: name, Length: 957, dtype: int64

In [7]:
df_archive['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [8]:
df_archive['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [11]:
sum(df_archive['retweeted_status_id'].notnull())

181

In [31]:
df_image.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [41]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [72]:
df_image.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

#### Quality
##### `df_archive` table
- For `name` column, some are of the string "none" and some are named "a"
- "none" instead of empty under `doggo`, `floofer`, `pupper` and  `puppo`
- Erroneous datatypes (`timestamp`, `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)
- 181 tweets are retweet (`non_empty retweeted_status_id`)
- Data beyound August 1st, 2017 has no corresponding image prediction
##### `df_image` table

#### Tidiness
- One variable in four columns (`doggo`, `floofer`, `pupper` and  `puppo`)

### Clean

In [32]:
df_archive_clean = df_archive.copy()

In [40]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

##### Tidiness

**One variable in four columns (`doggo`, `floofer`, `pupper` and  `puppo`)**

##### Define

Melt these four columns into a single column called `dog_stage`

In [33]:
id_vars = [col for col in list(df_archive_clean.columns) if col not in ['doggo', 'floofer', 'pupper', 'puppo']]
id_vars

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name']

In [47]:
df_test = pd.melt(df_archive_clean, id_vars = id_vars, value_name = 'dog_stage')
df_test = df_test[df_test.dog_stage != 'None']
df_test = df_test[['tweet_id', 'dog_stage', 'expanded_urls']]
df_test[df_test['tweet_id'].duplicated()]
# df_test.info()
# df_test2 = pd.merge(df_archive_clean, df_test, how='left', on='tweet_id')
# df_test2.info()

,tweet_id,dog_stage,expanded_urls
2556,854010172552949760,floofer,https://twitter.com/dog_rates/status/854010172...
5172,817777686764523521,pupper,https://twitter.com/dog_rates/status/817777686...
5243,808106460588765185,pupper,https://twitter.com/dog_rates/status/808106460...
5277,802265048156610565,pupper,https://twitter.com/dog_rates/status/802265048...
5287,801115127852503040,pupper,https://twitter.com/dog_rates/status/801115127...
5417,785639753186217984,pupper,https://twitter.com/dog_rates/status/785639753...
5445,781308096455073793,pupper,https://vine.co/v/5rgu2Law2ut
5490,775898661951791106,pupper,https://twitter.com/dog_rates/status/733109485...
5534,770093767776997377,pupper,https://twitter.com/dog_rates/status/741067306...
5601,759793422261743616,pupper,https://twitter.com/dog_rates/status/759793422...
5668,751583847268179968,pupper,https://twitter.com/dog_rates/status/751583847...
5775,741067306818797568,pupper,https://twitter.com/dog_rates/status/741067306...
5825,733109485275860992,pupper,https://twitter.com/dog_rates/status/733109485...
7259,855851453814013952,puppo,https://twitter.com/dog_rates/status/855851453...

By reading some of the above tweets, I discovered these tweets indeed mentioned multiple dog stages due there are more than one dog in the image. Therefore I decided not to perform melt for these four columns.

**`df_archive`: 181 tweets are retweet (non_empty retweeted_status_id)**

##### Define

Remove all retweet entries. Delete all retweet related columns afterward.

In [7]:
df_archive_clean = df_archive_clean[df_archive_clean['retweeted_status_id'].isnull()]

In [9]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2175 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2175 non-null   object
 4   source                      2175 non-null   object
 5   text                        2175 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2117 non-null   object
 10  rating_numerator            2175 non-null   int64
 11  rating_denominator          2175 non-null   int64
 12  name                        2175 non-null   object
 13  doggo                       2175 non-null   object
 14  floofer                     2175 non-null   object
 15  pupper                      2175 non-null   object
 16  puppo                       2175 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

Confirm all retweeted entries has been deleted, now we can drop all retweets columns (`retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)

In [10]:
df_archive_clean.drop(columns=['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], inplace=True)
df_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

**Erroneous datatypes (`timestamp`, `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)**

In [48]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [62]:
df_archive_clean[['in_reply_to_status_id', 'in_reply_to_user_id']].astype('Int64')

      in_reply_to_status_id  in_reply_to_user_id
0                      <NA>                 <NA>
1                      <NA>                 <NA>
2                      <NA>                 <NA>
3                      <NA>                 <NA>
4                      <NA>                 <NA>
...                     ...                  ...
2351                   <NA>                 <NA>
2352                   <NA>                 <NA>
2353                   <NA>                 <NA>
2354                   <NA>                 <NA>
2355                   <NA>                 <NA>

[2356 rows x 2 columns]

In [58]:
# convert to datetime and drop timezone
df_archive_clean['timestamp']  = pd.to_datetime(df_archive_clean['timestamp']).dt.tz_localize(None)

In [63]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   datetime64[ns]
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

In [67]:
df_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

**Data beyound August 1st, 2017 has no corresponding image prediction**

##### Define

Remove tweets beyond August 1st, 2017

In [69]:
df_archive_clean = df_archive_clean[df_archive_clean['timestamp'] < '2017-08-01']
df_archive_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

**For `name` column, some are of the string "none" and some are named "a"**

In [71]:
df_archive_clean[df_archive_clean['name'] == 'a']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
56,881536004380872706,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a pupper approaching maximum borkdrive...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004...,14,10,a,None,None,pupper,None
649,792913359805018113,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a perfect example of someone who has t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/792913359...,13,10,a,None,None,None,None
801,772581559778025472,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Guys this is getting so out of hand. We only r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/772581559...,10,10,a,None,None,None,None
1002,747885874273214464,NaN,NaN,2016-06-28 20:14:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a mighty rare blue-tailed hammer sherk...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747885874...,8,10,a,None,None,None,None
1004,747816857231626240,NaN,NaN,2016-06-28 15:40:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion is advised. This is a terrib...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747816857...,4,10,a,None,None,None,None
1017,746872823977771008,NaN,NaN,2016-06-26 01:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a carrot. We only rate dogs. Please on...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746872823...,11,10,a,None,None,None,None
1049,743222593470234624,NaN,NaN,2016-06-15 23:24:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a very rare Great Alaskan Bush Pupper....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743222593...,12,10,a,None,None,pupper,None
1193,717537687239008257,NaN,NaN,2016-04-06 02:21:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",People please. This is a Deadly Mediterranean ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717537687...,11,10,a,None,None,None,None
1207,715733265223708672,NaN,NaN,2016-04-01 02:51:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a taco. We only rate dogs. Please only...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715733265...,10,10,a,None,None,None,None
1340,704859558691414016,NaN,NaN,2016-03-02 02:43:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a heartbreaking scene of an incredible...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704859558...,10,10,a,None,None,pupper,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1361,703079050210877440,NaN,NaN,2016-02-26 04:48:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Butternut Cumberfloof. It's not wind...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/703079050...,11,10,a,None,None,None,None
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Wild Tuscan Poofwiggle. Careful not ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/702539513...,12,10,a,None,None,None,None
1382,700864154249383937,NaN,NaN,2016-02-20 02:06:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Pupper is a present to world. Here is a bow f...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/700864154...,12,10,a,None,None,pupper,None
1499,692187005137076224,NaN,NaN,2016-01-27 03:26:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a rare Arctic Wubberfloof. Unamused by...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692187005...,12,10,a,None,None,None,None
1737,679530280114372609,NaN,NaN,2015-12-23 05:13:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Guys this really needs to stop. We've been ove...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679530280...,7,10,a,None,None,None,None
1785,677644091929329666,NaN,NaN,2015-12-18 00:18:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a dog swinging. I really enjoyed it so...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677644091...,11,10,a,None,None,None,None
1853,675706639471788032,NaN,NaN,2015-12-12 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sizzlin Menorah spaniel from Brookly...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675706639...,10,10,a,None,None,None,None
1854,675534494439489536,NaN,NaN,2015-12-12 04:35:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Seriously guys?! Only send in dogs. I only rat...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675534494...,11,10,a,None,None,None,None
1877,675109292475830276,NaN,NaN,2015-12-11 00:26:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",C'mon guys. We've been over this. We only rate...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675109292...,9,10,a,None,None,None,None
1878,675047298674663426,NaN,NaN,2015-12-10 20:19:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a fluffy albino Bacardi Columbia mix. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675047298...,11,10,a,None,None,None,None
1923,674082852460433408,NaN,NaN,2015-12-08 04:27:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Sagitariot Baklava mix. Loves her ne...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674082852...,11,10,a,None,None,None,None
1941,673715861853720576,NaN,NaN,2015-12-07 04:09:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a heavily opinionated dog. Loves walls...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673715861...,4,10,a,None,None,None,None
1955,673636718965334016,NaN,NaN,2015-12-06 22:54:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Lofted Aphrodisiac Terrier named Kip...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673636718...,10,10,a,None,None,None,None
1994,672604026190569472,NaN,NaN,2015-12-04 02:31:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a baby Rand Paul. Curls for days. 11/1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672604026...,11,10,a,None,None,None,None
2034,671743150407421952,NaN,NaN,2015-12-01 17:30:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Tuscaloosa Alcatraz named Jacob (Yac...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671743150...,11,10,a,None,None,None,None
2066,671147085991960577,NaN,NaN,2015-11-30 02:01:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Helvetica Listerine named Rufus. Thi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671147085...,9,10,a,None,None,None,None
2116,670427002554466305,NaN,NaN,2015-11-28 02:20:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Deciduous Trimester mix named Spork....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670427002...,9,10,a,None,None,None,None
2125,670361874861563904,NaN,NaN,2015-11-27 22:01:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Rich Mahogany Seltzer named Cherokee...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670361874...,9,10,a,None,None,None,None
2128,670303360680108032,NaN,NaN,2015-11-27 18:09:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Speckled Cauliflower Yosemite named ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670303360...,9,10,a,None,None,None,None
2146,669923323644657664,NaN,NaN,2015-11-26 16:59:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a spotted Lipitor Rumpelstiltskin name...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669923323...,10,10,a,None,None,None,None
2153,669661792646373376,NaN,NaN,2015-11-25 23:39:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a brave dog. Excellent free climber. T...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669661792...,5,10,a,None,None,None,None
2161,669564461267722241,NaN,NaN,2015-11-25 17:13:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Coriander Baton Rouge named Alfredo....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669564461...,10,10,a,None,None,None,None
2191,668955713004314625,NaN,NaN,2015-11-24 00:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Slovakian Helter Skelter Feta named ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668955713...,10,10,a,None,None,None,None
2198,668815180734689280,NaN,NaN,2015-11-23 15:35:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a wild Toblerone from Papua New Guinea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668815180...,7,10,a,None,None,None,None
2211,668614819948453888,NaN,NaN,2015-11-23 02:19:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a horned dog. Much grace. Can jump ove...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668614819...,7,10,a,None,None,None,None
2218,668507509523615744,NaN,NaN,2015-11-22 19:13:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Birmingham Quagmire named Chuk. Love...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668507509...,10,10,a,None,None,None,None
2222,668466899341221888,NaN,NaN,2015-11-22 16:31:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a mother dog caring for her pups. Snaz...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668466899...,4,10,a,None,None,None,None
2235,668171859951755264,NaN,NaN,2015-11-21 20:59:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Trans Siberian Kellogg named Alfonso...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668171859...,7,10,a,None,None,None,None
2249,667861340749471744,NaN,NaN,2015-11-21 00:25:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Shotokon Macadamia mix named Cheryl....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667861340...,9,10,a,None,None,None,None
2255,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195...,8,10,a,None,None,None,None
2264,667538891197542400,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891...,9,10,a,None,None,None,None
2273,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559...,11,10,a,None,None,None,None
2287,667177989038297088,NaN,NaN,2015-11-19 03:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a Dasani Kingfisher from Maine. His na...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667177989...,8,10,a,None,None,None,None
2304,666983947667116034,NaN,NaN,2015-11-18 14:18:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a curly Ticonderoga named Pepe. No fee...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666983947...,11,10,a,None,None,None,None
2311,666781792255496192,NaN,NaN,2015-11-18 00:55:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Bacardi named Octaviath. Ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666781792...,10,10,a,None,None,None,None
2314,666701168228331520,NaN,NaN,2015-11-17 19:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a golden Buckminsterfullerene named Jo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666701168...,8,10,a,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None